{% extends "layout.html" %}
{% block body %}

<!-- Page content-->
<div class="container px-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Reduce Stress in 10 Minutes and Improve Your Well-Being</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on May 9, 2023 by EMHA</div>
                    <!-- Post categories-->
                    <!--
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='1t.jpg')}}" height="1100vh" width="700vw" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">More and more US adults are dealing with stress, which can lead to mental health problems. In August 2022, more than 32% of US adults reported having symptoms of anxiety or depression in the last 2 weeks. </p>

                    <p class="fs-4 mb4">Taking breaks throughout the day may help relieve stress, ease tensions, or lessen worry. But we often don’t take breaks. Even 10 minutes is enough to improve your mental health. Let’s commit to taking 10 minutes today to do something for ourselves. </p>
                    <hr>
                    <img class="img-fluid " src="{{url_for('static',filename='d14.png')}}" alt="">
                    <hr>
                    <h3 class="fw-bolder mb-4 mt-5">Take Care of Your Body</h3>
                    <p class="fs-5 mb-4">Staying physically healthy can improve you emotional well-being. Here are some suggestions to better improve your health:</p>

                    <ul>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Keep up with regular health appointments.</span> </p> </li>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Eat healthy.</span></p></li>
                        <p class="fs-6 mb-4">Have fruits and vegetables, lean protein, whole grains, and low- or no-fat dairy. Limit foods with unhealthy fats, salt, and added sugars. See Healthy Eating Tips.</p>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Get enough sleep.</span></p></li>
                      <p class="fs-6 mb-4">Go to bed and wake up at the same time each day to help you sleep better. Adults need 7 or more hours per night.</p>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Move more and sit less.</span></p></li>
                      <p class="fs-6 mb-4">Every little bit of physical activity helps. Start small and build up to 2 1/2 hours a week. You can break it into smaller amounts of time, such as 20 to 30 minutes a day.</p>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Limit alcohol intake.</span></p></li>
                      <p class="fs-6 mb-4">Choose not to drink, or drink in moderation on days you drink alcohol. Moderation means having 2 drinks or less a day for men or 1 drink or less for women a day. </p>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Avoid using illegal drugs or prescription drugs</span> in ways other than prescribed. Don’t take someone else’s prescription. Substance use treatment is available and recovery starts with asking for help</p></li>
                      <p class="fs-6 mb-4"></p>
                      <li><p class="fs-5 mb-4"><span class="fw-bolder mb-1">Avoid smoking,</span> vaping, and the use of other tobacco products. People can and do quit smoking for good.</p></li>
                      <p class="fs-6 mb-4"></p>

                    </ul>




                </section>

                <h4 class="fw-bolder mb-1"></h4>
                <p class="fs-5 mb-4"></p>


            </article>

        </div>

    </div>
</div>

{% endblock %}
