{% extends "layout.html" %}
{% block body %}

<!-- Page content-->
<div class="container px-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Ten Things To Improve Mental Health</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on May 9, 2023 by EMHA</div>
                    <!-- Post categories-->
                    <!--
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='2t.jpg')}}" height="1100vh" width="700vw" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-6 mb-4">Try these tips to keep your balance, or re-balance yourself.* </p>
                    <ol>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Value yourself:</span></p></li>
                      <p class="fs-5 mb-4">Treat yourself with kindness and respect, and avoid self-criticism. Make time for your hobbies and favorite projects, or broaden your horizons. Do a daily crossword puzzle, plant a garden, take dance lessons, learn to play an instrument or become fluent in another language.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Take care of your body:</span></p></li>
                      <p class="fs-6 mb-4">Taking care of yourself physically can improve your mental health. Be sure to:</p>
                      <ul>
                        <li><p class="fs-6 mb-4">Eat nutritious meals</p></li>
                        <li><p class="fs-6 mb-4">Avoid smoking and vaping-- see Cessation Help</p>Avoid smoking and vaping-- see Cessation Help</li>
                        <li><p class="fs-6 mb-4">Drink plenty of water</p></li>
                        <li><p class="fs-6 mb-4">Exercise, which helps decrease depression and anxiety and improve moods</p></li>
                        <li><p class="fs-6 mb-4">Get enough sleep. Researchers believe that lack of sleep contributes to a high rate of depression in college students. </p></li>
                      </ul>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Surround yourself with good people:</span></p></li>
                      <p class="fs-5 mb-4">People with strong family or social connections are generally healthier than those who lack a support network. Make plans with supportive family members and friends, or seek out activities where you can meet new people, such as a club, class or support group.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Give yourself:</span></p></li>
                      <p class="fs-5 mb-4">Volunteer your time and energy to help someone else. You'll feel good about doing something tangible to help someone in need — and it's a great way to meet new people. See Fun and Cheap Things to do in Ann Arbor for ideas.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Learn how to deal with stress:</span></p></li>
                      <p class="fs-5 mb-4">Like it or not, stress is a part of life. Practice good coping skills: Try One-Minute Stress Strategies, do Tai Chi, exercise, take a nature walk, play with your pet or try journal writing as a stress reducer. Also, remember to smile and see the humor in life. Research shows that laughter can boost your immune system, ease pain, relax your body and reduce stress.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Quiet your mind:</span></p></li>
                      <p class="fs-5 mb-4">Try meditating, Mindfulness and/or prayer. Relaxation exercises and prayer can improve your state of mind and outlook on life. In fact, research shows that meditation may help you feel calm and enhance the effects of therapy. To get connected, see spiritual resources on Personal Well-being for Students</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Set realistic goals:</span></p></li>
                      <p class="fs-5 mb-4">Decide what you want to achieve academically, professionally and personally, and write down the steps you need to realize your goals. Aim high, but be realistic and don't over-schedule. You'll enjoy a tremendous sense of accomplishment and self-worth as you progress toward your goal. Wellness Coaching, free to U-M students, can help you develop goals and stay on track. </p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Break up the monotony:</span></p></li>
                      <p class="fs-5 mb-4">Although our routines make us more efficient and enhance our feelings of security and safety, a little change of pace can perk up a tedious schedule. Alter your jogging route, plan a road-trip, take a walk in a different park, hang some new pictures or try a new restaurant. See Rejuvenation 101 for more ideas.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Avoid alcohol and other drugs:</span></p></li>
                      <p class="fs-5 mb-4">Keep alcohol use to a minimum and avoid other drugs. Sometimes people use alcohol and other drugs to "self-medicate" but in reality, alcohol and other drugs only aggravate problems. For more information, see Alcohol and Other Drugs.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Get help when you need it:</span></p></li>
                      <p class="fs-5 mb-4">Seeking help is a sign of strength — not a weakness. And it is important to remember that treatment is effective. People who get appropriate care can recover from mental illness and addiction and lead full, rewarding lives. See Resources for Stress and Mental Health for campus and community resources.</p>

                    </ol>

                </section>
                <p class="fs-6 mb-4 text-primary">*Adapted from the National Mental Health Association/National Council for Community Behavioral Healthcare</p>

                <h4 class="fw-bolder mb-1"></h4>
                <p class="fs-5 mb-4"></p>


            </article>

        </div>

    </div>
</div>

{% endblock %}
