{% extends "layout.html" %}
{% block body %}

<!-- Page content-->
<div class="container px-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Improve Your Morning Routine</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on May 9, 2023 by EMHA</div>
                    <!-- Post categories-->
                    <!--
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='3t.jpg')}}" height="1100vh" width="700vw" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">The perfect morning routine will promote wellness and set you up to be successful for the rest of the day. From avoiding social media to drinking water and listening to a podcast, there are various steps you can take to create a morning routine that works for you. </p>
                    <p class="fs-5 mb-4">Whether you’re a morning person or not, creating a routine that promotes wellness is essential to staying productive and encouraging efficiency. We’ve put together 21 steps for a good morning routine to create an effective ritual of your own.</p>
                    <ol>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Get a good night’s sleep</span></p></li>
                      <p class="fs-6 mb-4">Treat yourself with kindness and respect, and avoid self-criticism. Make time for your hobbies and favorite projects, or broaden your horizons. Do a daily crossword puzzle, plant a garden, take dance lessons, learn to play an instrument or become fluent in another language.</p>
                      <p class="fs-6 mb-4">With 35.2% of all adults in the U.S. reporting seven or fewer hours of sleep per night, getting a good night’s rest is crucial for productivity. For many of us, getting a full eight hours of sleep each night requires a bit of planning. </p>
                      <ul>
                        <li><p class="fs-6 mb-4"><span class="fw-bolder mb-1">Wind down at the end of the day:</span> Avoid strenuous activities like exercising and heavy lifting toward the end of the day. Instead, take a warm bath to decompress or read a book to induce sleepiness.</p></li>
                        <li><p class="fs-6 mb-4"><span class="fw-bolder mb-1">Turn off the TV at a set time:</span> Set a time to turn off the TV and other electronics. Instead, get comfortable on the couch or in bed with a warm cup of decaf tea.</p></li>
                        <li><p class="fs-6 mb-4"><span class="fw-bolder mb-1">Set your alarm clock appropriately: </span> Set your alarm for eight hours or more after bedtime to ensure you’re well rested.</p></li>
                      </ul>
                      <p class="fs-6 mb-4">Each of these techniques can help you get a full eight hours of sleep every night and wake up refreshed the next day.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Avoid the snooze button</span></p></li>
                      <p class="fs-6 mb-4">Hitting the snooze button can be detrimental to your morning routine. While you may intend to only get five more minutes of sleep, hitting snooze can quickly become a half hour.</p>
                      <img class="img-fluid rounded" src="{{url_for('static', filename='d15.jpg')}}" alt="">
                      <p class="fs-6 mb-4">Avoid snoozing your alarm by creating a routine of waking up the first time your alarm goes off. Ways to encourage this habit include:</p>
                      <ul>
                        <li><p class="fs-6 mb-4"><span class="fw-bolder mb-1">Counting to five: </span>When getting out of bed seems impossible, an easy trick is to count to five. After five, force yourself to get out of bed and begin your day.</p></li>
                        <li><p class="fs-6 mb-4"><span class="fw-bolder mb-1">Keeping slippers near your bed: </span>Slippers can make getting out of bed slightly easier on cold mornings. Keep them bedside so you always have them close.</p></li>
                        <li><p class="fs-6 mb-4"><span class="fw-bolder mb-1">Presetting your coffee machine: </span>If you’re a coffee drinker, just the aroma can be enough to motivate you to get up. Preset your machine so the coffee is waiting for you when you wake up. </p></li>
                      </ul>
                      <p class="fs-6 mb-4">Snoozing your alarm clock is a habit many of us have, but creating a healthier routine is the best way to break it. The more time you have in the morning, the more time you have to create a productive routine. </p>
                      <li class="fs-4 mb-4"><p class="fs-Whether you work from home or commute to the office, giving yourself enough time to mentally and physically show up for work is essential—especially if you don’t consider yourself a morning person. mb-4"><span class="fw-bolder mb-1">Give yourself enough time to get to work</span></p></li>
                      <p class="fs-6 mb-4">Whether you work from home or commute to the office, giving yourself enough time to mentally and physically show up for work is essential—especially if you don’t consider yourself a morning person.</p>
                      <p class="fs-6 mb-4">To do this, be intentional about when you wake up. In addition to making sure you get eight hours of sleep, set your alarm so you have enough time to complete your morning routine and develop productive new habits.</p>
                      <p class="fs-6 mb-4">Whatever time you choose to wake up at, remember to set aside enough time for personal activities so you don’t overwork yourself. </p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Drink a full glass of water</span></p></li>
                      <p class="fs-6 mb-4">Hydration is key to your health and well being. Drinking water is a crucial component of a great morning routine because when you feel good, you’re more focused and, as a result, more productive. </p>
                      <p class="fs-6 mb-4">Create a routine of staying hydrated in the morning by drinking a full glass of water when you first wake up. It’s a good idea to do this before your morning cup of coffee or tea to avoid forgetting. This also combats any dehydration that occurs from caffeinated drinks.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Enjoy a cup of coffee or tea</span></p></li>
                      <p class="fs-6 mb-4">While staying hydrated is a key part of a healthy routine, you also want to enjoy your routine. This will make waking up easier and increase the likelihood of your routine sticking.</p>
                      <p class="fs-6 mb-4">Appreciating an aromatic cup of coffee or tea can make starting your day more enjoyable. Combine your morning beverage with an opportunity to spend time with your housemates, family, or pets. </p>
                      <p class="fs-6 mb-4">Likewise, you can take this time to breathe deeply and give yourself a few minutes of mindfulness before you begin the rest of your morning routine.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Prepare a healthy breakfast</span></p></li>
                      <p class="fs-6 mb-4">To fuel your inspiration and start your day off right, prepare a healthy breakfast with ingredients that make you feel good. </p>
                      <img class="img-fluid rounded" src="{{url_for('static', filename='d16.jpg')}}" alt="">
                      <p class="fs-6 mb-4">Eating healthy can be easier than you think. A simple bowl of oatmeal or a quick smoothie can support your health without requiring a lot of prep time. </p>
                      <p class="fs-6 mb-4">Given that tasks like preparing food during the middle of the day can disrupt productivity, it’s a good idea to meal prep if you have the time. Take a few extra minutes in the morning to gather ingredients for lunch so they’re ready to go when midday rolls around.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Take advantage of self care</span></p></li>
                      <p class="fs-6 mb-4">Self care is a routine you create to support your happiness and well being. This includes anything from a grooming routine, like a shower and a skincare regimen, to reading a book to relax. </p>
                      <p class="fs-6 mb-4">What you define as self care will be unique to you, though you can generally look for things that make your body and mind feel good. Here are some ideas to create a self-care routine of your own:</p>
                      <ul>
                        <li><p class="fs-6 mb-4">Take a hot shower or bath to relax.</p></li>
                        <li><p class="fs-6 mb-4">Apply a face mask to take care of your skin.</p></li>
                        <li><p class="fs-6 mb-4">Read a book you enjoy to get your brain ready to work.</p></li>
                      </ul>
                      <p class="fs-6 mb-4">Take advantage of self care to support a healthy work-life balance and reduce the risk of burnout.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Fit in a quick workout</span></p></li>
                      <p class="fs-6 mb-4">Data suggests that active people are more relaxed and in better spirits than inactive people. Preventing depression is just one of the many benefits of working out—other bonuses include promoting better sleep and increased energy. </p>
                      <img class="img-fluid rounded" src="{{url_for('static', filename='d17.jpg')}}" alt="">
                      <p class="fs-6 mb-4">Avoid mental fatigue by working out in the morning. Activities you can try to get your heart rate up include:</p>
                      <ul>
                        <li><p class="fs-6 mb-4">Jogging around your neighborhood before work.</p></li>
                        <li><p class="fs-6 mb-4">Riding a stationary bike while watching the morning news.</p></li>
                        <li><p class="fs-6 mb-4">Doing yoga to strengthen your core and reduce stress.</p></li>
                      </ul>
                      <p class="fs-6 mb-4">Whether you work out every day or a couple of times a week, adding exercise to your routine can help set you up for success. </p>

                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Say positive affirmations</span></p></li>
                      <p class="fs-6 mb-4">Affirmations help combat limiting beliefs about yourself and support a confident mindset. When said in the morning, positive affirmations can motivate you to do your best and believe in yourself throughout the day. </p>
                      <p class="fs-6 mb-4">Examples of common affirmations that you can try include:</p>
                      <ul>
                        <li><p class="fs-6 mb-4">I am excited for the day.</p></li>
                        <li><p class="fs-6 mb-4">I am grateful for my job. </p></li>
                        <li><p class="fs-6 mb-4">I will have a successful week.</p></li>
                      </ul>
                      <p class="fs-6 mb-4">Say these positive affirmations to yourself out loud or write them in a journal each morning to cultivate a more positive outlook. </p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Meditate by taking deep breaths</span></p></li>
                      <p class="fs-6 mb-4">Meditation can support relaxation and can go hand in hand with positive affirmations. For those who would prefer a relaxing routine, take time to sit with your thoughts and breathe deeply. </p>
                      <p class="fs-6 mb-4">Create an efficient routine by pairing your affirmations with a deep breathing exercise such as roll breathing. Say your affirmations in your head while you’re in a state of calmness or out loud while breathing for stress management.</p>
                      <li class="fs-4 mb-4"><p class="fs-4 mb-4"><span class="fw-bolder mb-1">Prioritize important tasks</span></p></li>
                      <p class="fs-6 mb-4">Transition your mind from personal time to professional by dedicating time each morning to reviewing and prioritizing your tasks for the day. You can do this with a to-do list or personal planner. </p>





                    </ol>

                </section>
                <p class="fs-6 mb-4 text-primary"></p>

                <h4 class="fw-bolder mb-1"></h4>
                <p class="fs-5 mb-4"></p>


            </article>

        </div>

    </div>
</div>

{% endblock %}
