{% extends "layout.html" %}
{% block body %}

<!-- Page content-->
<div class="container px-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">What are the mental health benefits of exercise?</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on May 8, 2023 by EMHA</div>
                    <!-- Post categories-->
                    <!--
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='3.jpg')}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">When you have depression or anxiety, exercise often seems like the last thing you want to do. But once you get motivated, exercise can make a big difference.
Exercise helps prevent and improve several health problems, including high blood pressure, diabetes and arthritis. Research on depression, anxiety and exercise shows that the psychological and physical benefits of exercise can also help improve mood and reduce anxiety.
</p>

                    <p class="fs-5 mb-4">The links between depression, anxiety and exercise aren't entirely clear — but working out and other forms of physical activity can ease symptoms of depression or anxiety and make you feel better. Exercise may also help keep depression and anxiety from coming back once you're feeling better.</p>

                    <h3 class="fw-bolder mb-4 mt-5">How does exercise help depression and anxiety?</h3>
                    <p class="fs-5 mb-4">Regular exercise may help ease depression and anxiety by:</p>
                    <p class="fs-5 mb-4">
                      <ul>
                        <li><span class="fw-bolder mb-4 mt-5">Releasing feel-good endorphins, </span>natural cannabis-like brain chemicals (endogenous cannabinoids) and other natural brain chemicals that can enhance your sense of well-being.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Taking your mind off worries </span>so you can get away from the cycle of negative thoughts that feed depression and anxiety.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Gain confidence. </span>Meeting exercise goals or challenges, even small ones, can boost your self-confidence. Getting in shape can also make you feel better about your appearance.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Get more social interaction. </span>Exercise and physical activity may give you the chance to meet or socialise with others. Just exchanging a friendly smile or greeting as you walk around your neighbourhood can help your mood.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Cope in a healthy way. </span>Doing something positive to manage depression or anxiety is a healthy coping strategy. Trying to feel better by drinking alcohol, dwelling on how you feel, or hoping depression or anxiety will go away on its own can lead to worsening symptoms.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Exercise decreases stress hormones. </span>Exercise decreases stress hormones like cortisol. It also increases endorphins—your body's "feel-good" chemicals—giving your mood a natural boost.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Physical activity distracts you from negative thoughts and emotions. </span>Physical activity can take your mind off your problems and either redirect it to the activity at hand or get you into a zen-like state.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Exercise promotes confidence. </span>Exercise can help you lose weight, tone your body, and maintain a healthy glow and a smile. You may feel a subtle but significant boost in your mood as your clothes look more flattering and you project an aura of increased strength.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Exercise can be a good source of social support. </span>The benefits of social support are well-documented, and many physical activities can be social activities as well.14 So whether you join an exercise class or play softball in a league, exercising with others can give you a double dose of stress relief.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Better physical health may mean better mental health. </span>While stress can cause illness, illness can also cause stress. Improving your overall health and longevity with exercise can save you a great deal of stress in the short run (by strengthening your immunity to colds, the flu, and other minor illnesses) and the long run (by helping you stay healthier longer and enjoy life more because of it).</li>
                        <li><span class="fw-bolder mb-4 mt-5">Exercise provides a buffer against stress. </span>Physical activity may be linked to lower physiological reactivity toward stress. Simply put, those who get more exercise may become less affected by the stress they face. So, in addition to all the other benefits, exercise may supply some immunity toward future stress as well as a way to cope with current stress.</li>
                      </ul>
                    </p>

                    <h3 class="fw-bolder mb-4 mt-5">Health benefits from regular Exercise</h3>
                    <p class="fs-5 mb-4">Health benefits from regular exercise that should be emphasized and reinforced by every mental health professional to their patients include the following:</p>
                    <p class="fs-5 mb-4">
                      <ul>
                        <li>Improved sleep</li>
                        <li>Increased interest in sex</li>
                        <li>Better endurance</li>
                        <li>Stress relief</li>
                        <li>Improvement in mood</li>
                        <li>Increased energy and stamina</li>
                        <li>Reduced tiredness that can increase mental alertness.</li>
                        <li>Weight reduction</li>
                        <li>Reduced cholesterol and improved cardiovascular fitness</li>
                      </ul>
                    </p>
                    <p class="fs-5 mb-4">Mental health service providers can thus provide effective, evidence-based physical activity interventions for individuals suffering from serious mental illness. Further studies should be done to understand the impact of combining such interventions with traditional mental health treatment including psychopharmacology and psychotherapy.</p>
                    <h3 class="fw-bolder mb-4 mt-5">Types of Physical Exercise</h3>
                    <p class="fs-5 mb-4">Fortunately, there are many types of exercise that can improve mental health. From weightlifting to running, it's important to find exercises that you enjoy doing. Here are some types of exercise that can be good for mental health.</p>
                    <h3 class="fw-bolder mb-4 mt-5">Yoga</h3>
                    <p class="fs-5 mb-4">Yoga can range from gentle to challenging. The most common form of yoga (hatha yoga) involves physical poses (known as asanas), controlled breathing, and periods of meditation. Yoga is a low-risk method for healing the body and mind. Often the positive effects can be felt after just one class.</p>
                    <p class="fs-5 mb-4">A 2018 study published in <span class="font-italic">Complementary Therapies in Clinical Practice</span> found that yoga can help:</p>
                    <p class="fs-5 mb-4">
                      <ul>
                        <li>Decrease physiological arousal.</li>
                        <li>Lower heart rate</li>
                        <li>Lower blood pressure</li>
                        <li>Improve respiration.</li>
                        <li>Reduce the stress response.</li>
                        <li>Reduce depression and anxiety.</li>
                        <li>Increase energy and feelings of well-being.</li>
                      </ul>
                    </p>
                    <h3 class="fw-bolder mb-4 mt-5">Tai Chi</h3>
                    <p class="fs-5 mb-4">Tai Chi is an ancient Chinese martial art that combines meditation and rhythmic breathing in a slow series of graceful body movements and poses (also called forms). Tai Chi has been shown to:</p>
                    <p class="fs-5 mb-4">

                      <ul>
                        <li> Reduce stress.</li>
                        <li> Lower blood pressure</li>
                        <li> Reduce anxiety.</li>
                        <li> Improve depressed mood.</li>
                        <li>Increase self-esteem.</li>
                      </ul>
                    </p>
                    <h3 class="fw-bolder mb-4 mt-5">Aerobic Exercise </h3>
                    <p class="fs-5 mb-4">There is growing research evidence that regular aerobic exercise (such as running, cycling or swimming) is associated with better psychological health.
Although studies have focused on depression, panic disorder, and obsessive-compulsive disorder (OCD), there's also some evidence to suggest a positive effect of exercise on social phobia.
</p>
                   <p class="fs-5 mb-4">Both single sessions and long-term programs of aerobic exercise have been shown to provide a positive benefit for psychological health.
Although as little as five to 10 minutes of aerobic exercise can help to improve your mood and reduce your anxiety, regular programs, lasting from 10 to 15 weeks, seem to improve one's overall mental state.
</p>
                    <h3 class="fw-bolder mb-4 mt-5">Cycling</h3>
                    <p class="fs-5 mb-4">According to an article on the bikebiz.com, cycling has multiple mental health benefits, including reducing stress, anxiety, and depression. The article also notes that cycling can help you with your mindfulness practice, make improvements to your self-esteem, defend against cognitive decline, and help you to socialize.</p>
                    <h3 class="fw-bolder mb-4 mt-5">Running</h3>
                    <p class="fs-5 mb-4">A documentary photographer, Martin Eberleen, found running to be the right exercise for him after he was diagnosed with ADHD. He explained to BBC News: “Running helps me control my thoughts, it slows me down, and gives me the opportunity to focus on the things I need to focus on.”  Additionally, a review article published in the International Journal of Environmental Research and Public Health found that, “overall, studies suggest that running bouts of variable lengths and intensities, and running interventions can improve mood and mental health.”</p>
                    <h3 class="fw-bolder mb-4 mt-5">How to Start a Physical Exercise Plan</h3>
                    <p class="fs-5 mb-4">Once you have obtained your doctor’s approval and recommendations, you will want to decide on an exercise program that's right for you.</p>
                    <p class="fs-5 mb-4">Do you want to take a class? Could it be helpful to hire a trainer at the gym? Do you prefer to go for a walk on your own time while listening to your favorite music? The key to sticking with a program is to find something that you enjoy doing.
When starting a new exercise plan, you may initially feel very motivated. </p>
                    <p class="fs-5 mb-4">This motivation to exercise can be extremely beneficial in helping you get started on your new exercise plan.</p>
                    <p class="fs-5 mb-4">Here are a few tips to start and maintain your exercise plan:</p>
                    <p class="fs-5 mb-4">
                      <ul>
                        <li><span class="fw-bolder mb-4 mt-5">Don’t overdo it. </span>Be careful not to push yourself to extremes in the beginning, as this can lead to physical injury. Remember that exercise can be fun and can help improve your mood and anxiety, but it should not be causing physical issues. Take it slow in the beginning and gradually increase your workouts over time.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Make a commitment to your exercise plan. </span>From stressed-out executives to frazzled stay-at-home parents, everyone is busy. Putting time aside to exercise means that you have made your health and well-being a top priority. It can take time before you notice improvements in your symptoms. For the best results, stay patient and consistent with your exercise program.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Know that your motivation may change at different stages of your exercise plan. </span>It is not uncommon for your initial enthusiasm to fade over time. It can help to change your routine a little or find new exercise options altogether. For example, if you're getting bored with the treadmill at the local gym, try walking locally or joining a hiking group. These alternative options can also have the added benefit of helping you socialize while you exercise.</li>
                        <li><span class="fw-bolder mb-4 mt-5">Keep experimenting. </span>Experiment with different strategies to find what works best for you. If you struggle to stick with exercise first thing in the morning, try exercising in the afternoon. Or, if you discover that you dread hitting the gym, try exercising outside. Keep experimenting until you find something that you are likely to stick to.</li>
                      </ul>
                    </p>
                    <h3 class="fw-bolder mb-4 mt-5">Do the exercise that’s best for you.</h3>
                    <p class="fs-5 mb-4">This list of activities can serve as a good place to start when figuring out what type of exercise best suits your lifestyle and mentality.
However, everyone has different interests and needs, so don’t feel limited to these options or discouraged if an activity doesn’t meet your expectations. It may take some time to find the right fit, but your mental health is worth it.
The key is to do what is most enjoyable for YOU. You got this!
</p>



                </section>

            </article>

        </div>

    </div>
</div>

{% endblock %}
