{% extends "layout.html" %}
{% block body %}

<!-- Page content-->
<div class="container px-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Depression – An open letter to someone struggling</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on May 7, 2023 by EMHA</div>
                    <!-- Post categories-->
                    <!--
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    -->
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='1.jpg')}}" height="1100vh" width="700vw" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">Recovering from depression isn't easy. One of the hardest things is that you just don't know what to expect.</p>
                    <p class="fs-5 mb-4">It's not like healing from an injury. If you broke your arm, your doctor could give you specifics about your recovery. They could tell you -- at least roughly -- how many weeks you would need a cast and when you will be healed.</p>
                    <p class="fs-5 mb-4">Unfortunately, depression isn't like that. Each person's recovery is different. Some recover in a few weeks or months. But for others, depression is a long-term illness. In about 20% to 30% of people who have an episode of depression, the symptoms don't entirely go away.</p>
                    <p class="fs-5 mb-4">You may also have trouble figuring out how you feel. If you were depressed for a long time before you got treatment, you may not remember what feeling normal is like.</p>
                    <h2 class="fw-bolder mb-4 mt-5">Types of depression</h2>
                    <p class="fs-5 mb-4">Along with major depression, there are several other types of dep
                      ression, which are characterized by their symptoms or causes:</p>
                    <ul>
                      <li>
                        <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd co
                          smic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                      </li>
                      <li>
                        <p class="fs-5 mb-4">Postpartum depression involves feelings of extreme sadness, fatigue, and anxiety that start after a woman gives birth.</p>
                      </li>
                      <li>
                        <p class="fs-5 mb-4">Premenstrual dysphoric disorder (PMDD) is severe depression, irritability, and anxiety that occurs in the week or two before a woman's period.</p>
                      </li>
                      <li>
                        <p class="fs-5 mb-4">Seasonal affective disorder (SAD) is depression that occurs during the winter months and is relieved by the change of season.</p>
                      </li>
                      <li>
                        <p class="fs-5 mb-4">Bipolar disorder, formerly called manic depression, is characterized by alternating episodes of extremely low mood (depression) and exuberant highs (mania).</p>
                      </li>
                      <li>
                        <p class="fs-5 mb-4">Psychotic depression includes features of both depression and psychosis, such as having false beliefs (delusions) or seeing and hearing things that are not there (hallucinations).</p>
                      </li>
                    </ul>




                </section>

                <h4 class="fw-bolder mb-1">Causes</h4>
                <p class="fs-5 mb-4">Depression stems from a combination of biological, environmental, and psychological factors. People with depression often have family members with the condition, which suggests that genetics are involved. If one biological twin has depression, the other twin has a 70 percent chance of also having the condition.</p>
                <p class="fs-5 mb-4">Researchers have discovered differences in the brains of people with depression, as well as in the function of chemical messengers called neurotransmitters. Hormonal changes may also set off depressive symptoms; for example, during a woman's menstrual cycle or after she gives birth.</p>
                <p class="fs-5 mb-4">The following factors increase the risk for depression:</p>
                <p class="fs-5 mb-4">
                  <ul>
                    <li>a personal or family history of depression or other mental health disorder</li>
                    <li>trauma or stress, such as physical or sexual abuse, relationship issues, or financial worries</li>
                    <li>drug or alcohol abuse</li>
                    <li>medical conditions such as diabetes, cancer, heart disease, stroke, and Parkinson's disease</li>
                    <li>certain medications, including those used to treat high blood pressure and insomnia</li>
                  </ul>
                </p>
                <h4 class="fw-bolder mb-1">Symptoms</h4>
                <p class="fs-5 mb-4">People who have depression will experience some or all of the following symptoms almost every day for at least two weeks:</p>
                <p class="fs-5 mb-4">
                  <ul>
                    <li>Persistent sad or empty mood</li>
                    <li>Feelings of hopelessness, helplessness, emptiness, worthlessness, or guilt</li>
                    <li>Low energy, fatigue</li>
                    <li>Irritability, restlessness, anxiety</li>
                    <li>Slowed thinking, speaking, or movement</li>
                    <li>Loss of interest in activities they once enjoyed</li>
                    <li>Trouble concentrating, remembering, or making decisions</li>
                    <li>Loss of appetite, or eating too much</li>
                    <li>Weight gain or loss</li>
                    <li>Trouble sleeping, or sleeping too much</li>
                    <li>Headache, stomachache, and other aches and pains that do not have a clear physical cause</li>
                    <li>Thoughts of death or suicide</li>
                  </ul>

                </p>
                <p class="fs-5 mb-4">Some people with depression will experience many of these symptoms. Others will have just a few. The severity of depression symptoms can range from mild to severe enough to impact the person's day-to-day life.</p>
                <h4 class="fw-bolder mb-1">Diagnosis</h4>
                <p class="fs-5 mb-4">Doctors start the diagnostic process with a physical exam and lab work to rule out possible physical causes of depression, such as a thyroid disorder or vitamin deficiency. A psychologist or physician can do a psychological evaluation, asking questions and assessing symptoms according to established criteria for identifying depression and arriving at a diagnosis.</p>
                <h4 class="fw-bolder mb-1">Treatments</h4>
                <p class="fs-5 mb-4">The typical treatment for depression includes antidepressants or other medications, psychotherapy (talk therapy), or a combination of the two interventions. Personalizing treatment to the individual can increase the chances that it will be successful.</p>
                <p class="fs-5 mb-4">Antidepressants are a class of drugs used to treat depression. They include the following types:</p>
                <p class="fs-5 mb-4">
                  <ul>
                    <li>Selective serotonin reuptake inhibitors (SSRIs) are often the first drugs doctors prescribe for depression. These drugs affect the chemical messenger, serotonin, which helps to regulate mood. Low serotonin levels have been linked to depression</li>
                    <li>Serotonin-norepinephrine reuptake inhibitors (SNRIs) work on two brain chemicals—serotonin and norepinephrine.</li>
                    <li>Atypical antidepressants act on the brain in a different way from other antidepressants. These drugs may be an option for people who have not found relief from SSRIs or SNRIs.</li>
                    <li>Tricyclic antidepressants are an older class of antidepressant. They work on three brain chemicals: serotonin, norepinephrine, and dopamine. Tricyclics are not used as often as they once were because they have a higher risk for side effects than newer antidepressants.</li>
                    <li>Monoamine Oxidase Inhibitors (MAOIs)</li>
                  </ul>
                </p>
                <p class="fs-5 mb-4"></p>

            </article>

        </div>

    </div>
</div>

{% endblock %}
