{% extends "layout.html" %}
{% block body %}

<!-- Page content-->
<div class="container px-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='1.jpg')}}" alt="..." /></figure>
                <!-- Post content-->
                <p class="fs-5 mb-4">
                {{content}}
                </p>
                <section class="mb-5">

                </section>
            </article>

        </div>

    </div>
</div>

{% endblock %}
