<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        var socket = io.connect("http://10.171.1.87:4000")
        socket.on('connect', function(){
          socket.send("User connected!");
        });
        socket.on('message',function(data){
          $('#messages').append($('p').text(data));
        });
        $('#sendBtn').on('click',function(){
          socket.send($('#username').val()+':'+ $('#message').val());
          $('#message').val('');
        });
      })
    </script>
    <div class="" id="messages">

    </div>
    <input type="text" id='username' placeholder="username">
    <input type="text" id="message" placeholder="message">
    <button id="sendBtn">Send</button>
  </body>
</html>
